@charset "UTF-8";
body{
	background:#fafafa;
}
.search_addr{
	background-postion:center;
	height:15vh;
	display:flex;
	justify-content:center;
	flex-direction:column;
	align-items:center;
	border-bottom : 1px solid black;
}
.search_addr form{
	padding-top:30px;
}
.search_addr span{
	font-size:30px;
}
.search_addr input[type=text]{
	width:300px;
	height:30px;
}
.search_addr input[type=submit]{
	height:35px;
}
.menu_category{
	display:flex;
	flex-direction:column;
	min-height:600px;
}
.menu_line{
	text-align:center;
}

.category{
	width:300px;
	height:300px;
	margin:30px;
	border : 2px solid black;
	display: inline-block;
}


