@charset "UTF-8";
html,body{
	margin : 0;
	background-color : #fafafa;
}
a{
	text-decoration : none;
	color : black;
}
nav#img{
	background-image : url("../img/img6.jpg");
	background-size : cover;
	height : 250px;
	color : white;
	font-size : 50px;
	text-align : center;
	line-height : 250px;
}
section{
	min-height : 500px;
	width : 1020px;
	margin : 0 auto;
}
section nav#side{
	float : left;
	width : 150px;
	min-height : 500px;
}
section nav#side ul{
	list-style: none;
	padding-left: 0px;
	margin-top : 30px;
}
section nav#side ul li{
	font-size : 20px; 
	height : 70px;
	line-height : 70px;
	text-align : center;
}
section nav#side ul li:hover{
	background-color : rgba(0,0,0,0.1);
}
section #content{
	float : left;
	width : 718px;
	min-height : 500px;
}
section #content #frm{
	width : 400px;
	height : 250px;
	display : inline-block;
	position : absolute;
	left : 40%;
	margin-top : 50px;
}
section #content #frm p{
	font-size : 30px;
	font-weight : bold;
	margin-bottom : 70px;
}
section #content #frm span{
	font-size : 17px;
	padding-left : 50px;
}
section #content #frm #pass{
	font-size : 15px;
	padding-left : 5px;
}
section #content #frm #btn{
	display: block; 
	margin : 0 auto;
	margin-top : 60px;
	width : 70px;
	height : 40px;
	font-size : 15px;
	border : 0.5px solid #fafafa;
	border-radius : 10px;
	cursor : pointer;
}